## Redis configuration variables
## 1. Workers will publish their job status to redis.
## 2. Redis will then publish worker status to all subscribed notification services.
## 3. Notification service will then push notification to the clients

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=password
REDIS_WORKER_CHANNEL=workerChannel


## API server config variables
## We will use these to communicate with api service

APP_PROTOCOL=http
APP_HOST_NAME=shrey.shoppinpal.com
#APP_PORT_NUMBER=''
SP_PRETTY_PRINT=true

## Maximum socket connection timeout for api calls that will keep sse connection open in seconds.
## Once the specified seconds are complete, we will destroy the sse connection.
MAX_API_CALL_IDLE_TIME_SECONDS=400

## Maximum socket connection timeout for connected users in minutes.
## Eg: MAX_USER_IDLE_TIME=30 will set 30 minutes as idle time before disconnecting
## user socket
MAX_USER_IDLE_TIME_MINUTES=30

