<ngx-loading [show]="loading"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngIf="!integration.length || integration[0].type==='msdynamics'">
      <div class="card border-primary">
        <div class="card-header">
          MS Dynamics 365
        </div>
        <div class="card-body text-center">
          <div class="connect-logo">
            <img class="img-responsive" src="./assets/img/msdynamics.png" alt="Connect with MS Dynamics"/>
          </div>
          <button type="button" (click)="connect('msdynamics')" *ngIf="!integration.length" class="btn btn-primary">
            Connect
          </button>
          <button type="button" [disabled]="integration.length && integration[0].type === 'msdynamics'"
                  *ngIf="integration.length && integration[0].type === 'msdynamics'" class="btn btn-primary">Connected
          </button>
          <button type="button" *ngIf="integration.length && integration[0].type === 'msdynamics'"
                  class="btn btn-success">Start Sync
          </button>
        </div>
      </div>
    </div><!--/.col-->
    <div [ngClass]="{'col-sm-6 col-md-4': !integration.length, 'col-sm-12': integration.length && integration[0].type==='vend'}" class=""
         *ngIf="!integration.length || integration[0].type==='vend'">

      <div class="card border-success">
        <div class="card-header">
          Vend POS
        </div>
        <div class="card-body text-center">
          <div class="cconnect-logo">
            <img class="img-responsive" src="./assets/img/vend.png" alt="Connect with Vend"/>
          </div>
          <button type="button" (click)="connect('vend')" *ngIf="!integration.length" class="btn btn-success">Connect
          </button>
          <button type="button" [disabled]="integration.length && integration[0].type === 'vend'"
                  *ngIf="integration.length && integration[0].type === 'vend'" class="btn btn-success">Connected
          </button>
          <button type="button" *ngIf="integration.length && integration[0].type === 'vend'" class="btn btn-primary" (click)="initiateVendSync()">
            Start Sync
          </button>
        </div>
        <table class="table table-hover table-striped table-align-middle mb-0" *ngIf="integration.length && integration[0].type === 'vend'">
          <thead>
          <th>Data object</th>
          <th>Sync Status</th>
          </thead>
          <tbody>
          <tr>
            <td>
              Products
            </td>
            <td>
              <label class="switch switch-3d switch-primary">
                <input type="checkbox" class="switch-input" [ngModel]="checkSync('products')" disabled>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              Inventory
            </td>
            <td>
              <label class="switch switch-3d switch-primary">
                <input type="checkbox" class="switch-input" [ngModel]="checkSync('inventory')" disabled>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              Suppliers
            </td>
            <td>
              <label class="switch switch-3d switch-primary">
                <input type="checkbox" class="switch-input" [ngModel]="checkSync('suppliers')" disabled>
                <span class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
