<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <div class="h4 m-0">89.9%</div>
              <div>Products sync</div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
              <div class="h4 m-0 float-right">11,492</div>
              <small class="text-muted float-right">Total products</small>
            </div>
          </div>
          <div class="progress progress-xs my-3">
            <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <button type="button" class="btn btn-primary">Sync now</button>
          <br/>
          <small class="text-muted">Last synced at 21:37:51</small>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>
