.idea
.tmp
.sass-cache
.env
.DS_Store
node_modules/
dist/
client/app/bower_components
public/
/heroku*
*.DS_Store
*.env
db.json
config.*.json
newrelic.js
npm-debug.log
/test
server/config.*.json
server/config.*.js
/server/boot/seed.json
/server/boot/seed.*.json
/server/boot/seed.json.*
/db.json
/db.*.json
/db.json.*
/server/storage/*
!/server/storage/touch
seeds
/worker/generate-weekly-stock-orders/aws-ebs/seed
docker
client/app/scripts/shoppinpal-loopback.js
client/admin/
