SP_PRETTY_PRINT=true
DB_URL=mongodb://db:27017/warehouse-local
WORKER_SYNC_RETRIES=100
WORKER_SYNC_RETRY_INTERVAL_IN_SECONDS=30

AZURE_SQL_USER=sa
AZURE_SQL_PASSWORD=Abc@138#safj
AZURE_SQL_SERVER=mssql

# your identification credentials given by Vend
VEND_CLIENT_ID=
VEND_CLIENT_SECRET=
VEND_TOKEN_SERVICE=.vendhq.com/api/1.0/token

APP_PROTOCOL=http
APP_HOST_NAME=localhost

NOTIFICATION_HOST=localhost
#NOTIFICATION_PORT=
NOTIFICATION_PROTOCOL=http
NOTIFICATION_PATH=notification/publish
