##
# Warehouse Workers fetch jobs/payloads from a queue
# There are many technologies that can provide a queue implementation: SQS, RabbitMQ, redis, etc.
##

# location of the queue
AWS_SQS_ACCESS_KEY_ID=
AWS_SQS_REGION=us-west-2
AWS_SQS_SECRET_ACCESS_KEY=
AWS_SQS_URL=

# cache is used when we want to:
# - limit the memory consumed by workers
# - reuse common data across multiple worker runs
# DO NOT TOUCH - unless you are a developer/devops
cacheUrl=memcache:11211

DB_URL=mongodb://db:27017/warehouse-local?connectTimeoutMS=3000000

# Important to determine which set of workers are being called
# to route the operations properly. This is for the time-being
# until all workers are transitioned to v2
WORKERS_VERSION=v2
SP_PRETTY_PRINT=true

##
# MS Dynamics 365 oAuth variables
# https://docs.microsoft.com/en-gb/azure/active-directory/develop/v1-protocols-oauth-code
# Remember to replace
##
MSDYNAMICS_AUTHORIZATION_URL=
MSDYNAMICS_TOKEN_URL=
MSDYNAMICS_CLIENT_ID=
MSDYNAMICS_CLIENT_SECRET=

# your identification credentials given by Vend
VEND_CLIENT_ID=
VEND_CLIENT_SECRET=
VEND_TOKEN_SERVICE=.vendhq.com/api/1.0/token


AZURE_SQL_USER=sa
AZURE_SQL_PASSWORD=Abc@138#safj
AZURE_SQL_SERVER=sa


APP_PROTOCOL=http
APP_HOST_NAME=localhost

#SLACK_NOTIFICATION_URL=

WORKER_MAX_RETRIES=50
WORKER_RETRY_DELAY_IN_MS=500

NOTIFICATION_HOST=lb
#NOTIFICATION_PORT=
NOTIFICATION_PROTOCOL=http
NOTIFICATION_PATH=notification/publish
