##
# Warehouse Workers fetch jobs/payloads from a queue
# There are many technologies that can provide a queue implementation: SQS, RabbitMQ, redis, etc.
##

# location of the queue
AWS_SQS_ACCESS_KEY_ID=
AWS_SQS_REGION=us-west-2
AWS_SQS_SECRET_ACCESS_KEY=
AWS_SQS_URL=
AWS_SQS_URL_2=

# cache is used when we want to:
# - limit the memory consumed by workers
# - reuse common data across multiple worker runs
# DO NOT TOUCH - unless you are a developer/devops
cacheUrl=memcache:11211

DB_URL=mongodb://db:27017/warehouse-local

# Important to determine which set of workers are being called
# to route the operations properly. This is for the time-being
# until all workers are transitioned to v2
WORKERS_VERSION=v1

NODE_LEVEL=local
SP_PRETTY_PRINT=true
WORKER_MAX_RETRIES=5
WORKER_RETRY_DELAY_IN_MS=500

NOTIFICATION_HOST=shrey.shoppinpal.com
#NOTIFICATION_PORT=
NOTIFICATION_PROTOCOL=http
NOTIFICATION_PATH=notification/publish
