##
# Warehouse Workers fetch jobs/payloads from a queue
# There are many technologies that can provide a queue implementation: SQS, RabbitMQ, redis, etc.
##

# location of the queue
AWS_SQS_REGION=
AWS_SQS_URL=

# and credentials to access it
AWS_SQS_ACCESS_KEY_ID=
AWS_SQS_SECRET_ACCESS_KEY=

# cache is used when we want to:
# - limit the memory consumed by workers
# - reuse common data across multiple worker runs
# DO NOT TOUCH - unless you are a developer/devops
cacheUrl=memcache:11211
