.orders-checkbox {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);
  cursor: pointer;
}

.orders-all-checkbox {
  cursor: pointer;
  transform: scale(1.4);
  -o-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
}

.orders-row {
  cursor: pointer;
}
