<div class="app flex-row align-items-center row-two">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <div class="logo-avatar">
              <img class="logo-image" src="assets/img/favicon.png" alt="">
          </div>
            <div class="header-space-div"></div>
            <div>
              <h1 align="center" style="color: #FFFFFF;">
                StockUp
              </h1>
          </div>
        </div>
        <div class="header-card-space-div">
      
        </div>
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <ngx-loading [show]="loading"></ngx-loading>
              <h1>Welcome {{name}}!</h1>
              <p class="text-muted">Create new password for your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" [(ngModel)]="password" class="form-control" placeholder="Enter new password">
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" (click)="setPassword()"
                          class="btn btn-primary px-4">Sign In
                  </button>
                </div>
              </div>
              <div class="row text-center">
                <div class="col-12">
                  <a routerLink="/login" routerLinkActive="active" (click)="loading=true">Already have an account? Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
