<ngx-loading [show]="loading"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>{{supplier.name}}</h4>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="hf-email">Primary Email</label>
            <div class="col-md-10">
              <input type="email" id="hf-email" name="hf-email" class="form-control" [(ngModel)]="supplier.email"
                     placeholder="Enter Email..">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="storeName">Select Store Location:</label>
            <div class="col-md-10">
              <select class="form-control" [(ngModel)]="storeLocationId" id="storeName">
                <option disabled="disabled" value="Select...">Select..</option>
                <option *ngFor="let store of stores" [value]="store.objectId">{{store.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="hf-email">Default Report State</label>
            <div class="col-md-10">
              <select class="form-control" name="state" [(ngModel)]="supplier.reportDefaultState">
                <option value="" disabled>Select..</option>
                <option *ngFor="let states of reportStates | keyvalue" [value]="states.value">{{states.value}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="updateSupplierDetails()"><i
            class="fa fa-dot-circle-o"></i> Save
          </button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>{{supplier.name}}</h4>
        </div>
        <div class="card-body">
          <h5>Store IDs</h5>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Store Name</th>
              <th>Store Id</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let store of stores">
              <td>{{store.name}}</td>
              <td>
                <input type="text"
                       class="form-control-sm form-control"
                       [(ngModel)]="mappings[store.objectId]"
                       placeholder="Enter Store ID"
                       required/>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="updateSupplierStoreMappings()"><i
            class="fa fa-dot-circle-o"></i> Save
          </button>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
