<div class="form-group">
  <span>Frequency :</span>
  <select [(ngModel)]="type" (ngModelChange)="changedSchedulingMode()" class="form-control">
    <option disabled="disabled" [value]="">Select..</option>
    <option *ngFor="let type of schedulingTypes;" [value]="type">{{type}}</option>
  </select>
</div>
<div class="row">
  <div class="form-group col-md-4 col-sm-12"
       *ngIf="type == SCHEDULING_TYPE.WEEKLY">
    <span>Week Days:</span>
    <ng-select
      [items]="weekNames"
      [multiple]="true"
      bindLabel="name"
      [selectableGroup]="true"
      [closeOnSelect]="false"
      bindValue="id"
      [(ngModel)]="week">
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
      </ng-template>
    </ng-select>
  </div>
  <div class="form-group col-md-4 col-sm-12"
       *ngIf="type == SCHEDULING_TYPE.YEARLY">
    <span>Month:</span>
    <select class="form-control"
            [(ngModel)]="month"
            (ngModelChange)="onMonthSelected()">
      <option disabled="disabled" [value]="-1">Select..</option>
      <option *ngFor="let type of monthNames;let i = index" [value]="i">{{type}}</option>
    </select>
  </div>
  <div class="form-group col-md-4 col-sm-12"
       *ngIf="type == SCHEDULING_TYPE.YEARLY ||
              type == SCHEDULING_TYPE.MONTHLY">
    <span>Day:</span>
    <select [(ngModel)]="day" class="form-control">
      <option disabled="disabled" [value]="-1">Select..</option>
      <option *ngFor="let day of [].constructor(daysInMonth);let i = index" [value]="i+1">{{i + 1}}</option>
    </select>
  </div>
  <div class="form-group col-md-4 col-sm-12"
       *ngIf="type == SCHEDULING_TYPE.YEARLY ||
              type == SCHEDULING_TYPE.MONTHLY ||
              type == SCHEDULING_TYPE.DAILY ||
              type == SCHEDULING_TYPE.WEEKLY">
    <span>Hour:</span>
    <select [(ngModel)]="hour" class="form-control">
      <option disabled="disabled" [value]="-1">Select..</option>
      <option *ngFor="let hours of [].constructor(24);let i = index" [value]="i">
        {{i | number :'2.0-0'}}:{{minutesOffset | number : '2.0-0'}}
      </option>
    </select>
  </div>
</div>
