::selection{background:#02b8de;color:#fff;text-shadow:none;}
::-moz-selection{background:#02b8de;color:#fff;text-shadow:none}



body {
	background: #fffff;
	color: #442861;
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
a{
	color: #02b8de;
}
a:hover, a:focus {
	color: #505050;
	text-decoration: none;
	outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus, .btn:hover {
	outline: none;
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
	color: #ffffff;
}
.btn:active, .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}
.wrapper{
	max-width: 768px;
	margin: 0px auto;
	padding: 25px 40px;
	border:1px solid #efefef;
}

/*Select Store page CSS*/

.select-store-header{
	background-color: #efefef;
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#fefdfd));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #fefdfd, #eeeeee);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #fefdfd, #eeeeee);
	/* IE 10 */
	background: -ms-linear-gradient(top, #fefdfd, #eeeeee);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #fefdfd, #eeeeee);
	border:1px solid #efefef;
	padding: 15px;
	max-width: 768px;
	margin: 0px auto;
}
.main-header-border{
	border-bottom: 1px solid #ffffff;
}
h1{
	color: #505050;
	font-size: 14px;
	padding-left: 15px;
	font-weight: bold;
}
.store-container{
	margin:20px 0px;
	border-bottom:1px solid #e5e5e5;
}
.store-box{
	display: table;
	width: 100%;
  	height: 70px;
  	background: #e5e5e5;
}
.store-box span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #939393;
}
.store-number{
	color: #02b8de;
	text-align: center;
	padding: 10px 0px 15px 0px;
	font-weight: bold;
}
.log-in-text{
	text-align: right;
	padding: 32px 0px;
	color: #505050;
	font-weight: bold;
}
.log-in-text span{
	color: #02b8de;
	font-weight: bold;
}
.btn-align{
	text-align: right;
}


/*Report Manager page CSS*/
.report-manager-container{
	max-width: 768px;
	margin: 0px auto;
	padding: 0px 0px;
	border-bottom:1px solid #efefef;
	border-right:1px solid #efefef;
	border-left:1px solid #efefef;
	border-top:0px solid #efefef;
	min-height: 50em;
	position: relative;
	color:#787878;
}
.report-manager-text{
	text-align: right;
	color: #505050;
	font-weight: bold;
}
.report-manager-text span{
	color: #02b8de;
	font-weight: bold;
}
.font{
	color: #800404 !important ;
}
.font:hover{
	color: #800404 !important ;
}
.content{
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 57px;
	background: #cccccc;
}
.content ul {
    margin: 0;
    padding: 0;
    width: 86px;
    overflow: auto;
    background-color: #e5e5e5;
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9d9d9), to(#e6e6e6));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #e6e6e6, #d9d9d9);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #e6e6e6, #d9d9d9);
	/* IE 10 */
	background: -ms-linear-gradient(top, #e6e6e6, #d9d9d9);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #e6e6e6, #d9d9d9);
}
.content li {
    align-items: center;
    display: table;
   /* height: -webkit-calc(100% / 26);
    height: -moz-calc(100% / 26);
    height: calc(100% / 26);*/
    height: 30px;
    list-style: outside none none;
    text-align: center;
    width: 100%;
}
.content li a {
   color: #5e5e5e;
   font-size: 16px;
   font-weight: bold;
}
.content li a:hover {
   color: #02b8de;
   font-size: 16px;
   text-decoration: underline;
}
.content li span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.report-manager-container .table tbody >  tr:nth-child(even){
	background: #f6f6f6;
}
.report-manager-container .table tbody > tr:nth-child(odd){
	background: #ffffff;
}
.report-manager-container .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    border-right:1px solid #ddd;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
}
.report-manager-container .table > thead > tr > th:last-child {
    border-right:0px solid #ddd;
}
.report-manager-container .table > tbody > tr > td {
    text-align: left;
    border-right:1px solid #ddd;
}
.report-manager-container .table > tbody > tr:last-child {
    border-bottom:1px solid #ddd;
}
.report-manager-container .table > tbody > tr > td:last-child {
    border-right:0px solid #ddd;
}
.table-heading-font{
	color: #02b8de;
	font-weight: bold;
}
.report-manager-container .table > thead > tr{
	border-top:1px solid #ffffff;
	background-color: #e5e5e5;
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6d6d6), to(#e5e5e5));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #e5e5e5, #d6d6d6);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #e5e5e5, #d6d6d6);
	/* IE 10 */
	background: -ms-linear-gradient(top, #e5e5e5, #d6d6d6);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #e5e5e5, #d6d6d6);
}

.report-manager-container table tr td:not([colspan="8"]){
    text-align: center;
}

.changestorebgcolor {
	background: #383838 !important;
}

.defaultstorebgcolor {
	background: white !important;
}

/*.report-manager-container table tr td([colspan="8"]){

   background: red;

}*/
