.input-order-quantity {
  width: 50px;
  font-size: 15px;
  text-align: center;
}

.quantity-icon {
  font-size: 18px;
  cursor: pointer;
}

.selected-box {
  height: 122px;
  .main-box {
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid #71aaac;
    box-shadow: 0 1px 0 #baf0f2;
    span {
      display: block;
    }
  }
}

.add-box {
  text-align: center;
  border-bottom: 1px solid #71aaac;
  box-shadow: 0 1px 0 #baf0f2;
  padding: 25px 0px 25px 0px;
  span {
    display: block;
  }
}

.dropbox-qty {
  color: #000000;
  font-weight: bold;
}

.dropbox-name {
  color: #1f899f;
  font-weight: bold;
}

.open-box .closed-box {
  background-position: -273px 0;
  position: relative;
  width: 73px;
}

.box-closed {
  cursor: pointer;
}

.box-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
