<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <!-- Select store header -->
          <header class="header">
              <div class="row">
                <!-- Back button given here -->
                
                  <div class="col-md-5 col-sm-3 col-xs-12"><div class="logo">Glenstone
                    <div>
                 <!-- <back-button back="Back"></back-button> -->
                 <a class="fa fa-home shopping-pal-home" ui-sref="store-landing"></a>
                  </div>
                  </div>
                  </div>
                  <div class="col-md-7 col-sm-9 col-xs-12"> 
                    <div class="log-in-text"><a ui-sref="logout" class="logout-text">LOGOUT</a></div>
                    <div class="btn-align">
                        <button type="submit" class="btn btn-primary button-large-green">Create Manual Order</button></div>
                  </div>
              </div>
          </header>
      </div>
      </div>
          <!-- Report Manager page content -->
      <div class="row main-container">    
          <div class="order-container">
            <h2>New Stock Order</h2> 
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-xs-3">Name / Reference</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="inputEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Order From</label>
                    <div class="col-xs-8">
                        <select ng-model="selectedSupplier" class="form-control">
                        <option ng-selected="{{selectedSupplier}}"
                                ng-repeat="supplier in suppliers"
                                value="{{supplier.name}}">
                          {{supplier.name}}
                        </option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Deliver To</label>
                    <div class="col-xs-8">
                      <select ng-model="selectedStore" class="form-control">
                        <option ng-selected="{{selectedStore}}"
                                ng-repeat="store in stores"
                                value="{{store.name}}">
                          {{store.name}}
                        </option>
                    </select>
               </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Due At</label>
                    <div class="col-xs-8 calendar">
                        <input type="text" data-date-format="dd/MM/yyyy" ng-model="selectedDate" class="form-control" placeholder="Due At" bs-datepicker>
                         <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Supplier Invoice</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Supplier Invoice">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Import Order</label>
                    <div class="col-xs-8">
                      <!-- <div class="fileUpload btn "> -->
                       <input type="file" file-model="myFile" click="importOrder()"/>
                         <!--  <span>Choose File</span> -->
                          <!-- <input type="file" class="upload" file-model="myFile" ng-click="importOrder()"/> -->
                     <!--  </div> -->
                      </div>
                </div>
             </form>
          </div>
      </div>
  </div>