<div class="container" ng-controller="CreateManualOrderCtrl as orderController">
    <shoppin-pal-header store-name="{{::orderController.storeName}}"
                        home-state="{{::orderController.homeState}}">
    </shoppin-pal-header>
    <!-- Report Manager page content -->
    <div class="row main-container" cg-busy="orderController.waitOnPromise">
        <div class="order-container">
            <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)"
                   style="color:red;">
                {{alert.msg}}
                <div style="float: right">({{countdownInMilliSeconds/1000}})</div>
            </alert>
            <h2>New Stock Order</h2>
            <form name="orderForm"
                  class="form-horizontal">
                <div class="form-group">
                    <label for="orderName" class="control-label col-xs-3">Name / Reference</label>
                    <div class="col-xs-8">
                        <input id="orderName"
                               type="text" class="form-control"
                               ng-model="orderController.orderName"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectSupplier" class="control-label col-xs-3">Order From</label>
                    <div class="col-xs-8">
                        <select id="selectSupplier" name="selectSupplier"
                                class="form-control"
                                ng-model="orderController.selectedSupplier"
                                ng-options="supplier.name for supplier in orderController.suppliers"
                                required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectStore" class="control-label col-xs-3">Deliver To</label>
                    <div class="col-xs-8">
                        <select id="selectStore" name="selectStore"
                                class="form-control"
                                ng-model="orderController.selectedStore"
                                ng-options="store.name for store in orderController.stores"
                                required>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectDate" class="control-label col-xs-3">Due At</label>
                    <div class="col-xs-8 calendar">
                        <input id="selectDate"
                               type="text" class="form-control" placeholder="Due At"
                               bs-datepicker data-date-format="yyyy-MM-dd"
                               ng-model="selectedDate">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="form-group"
                     ng-if="orderController.isWarehouser()">
                    <label for="file-import-input" class="control-label col-xs-3">Import Order</label>
                    <div class="col-xs-8">
                        <input id="file-import-input"
                               type="file"
                               accept=".csv,.xls"
                               nv-file-select
                               uploader="orderController.uploader"/>
                        <span ng-if="orderController.uploader.queue.length===1 && orderController.validUpload">Ready for import: {{orderController.uploader.queue[0].file.name}}</span>
                        <span ng-if="orderController.uploader.queue.length===1 && orderController.validUpload==false" style="color: red">File is not valid for import: {{orderController.uploader.queue[0].file.name}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-align">
                        <!-- known UX issue: https://github.com/nervgh/angular-file-upload/issues/489 -->
                        <button id="file-import-button"
                                ng-if="orderController.isWarehouser()"
                                class="btn btn-primary button-large-green generate-order-btn"
                                ng-disabled="orderController.uploader.queue.length!==1 || orderController.validUpload==false"
                                ng-click="!orderForm.$invalid && orderController.uploader.queue[0].upload()">
                            Import Order from {{orderController.uploader.queue[0].file.name || 'File'}}
                        </button>
                        <button id="submit" type="submit"
                                ng-if="orderController.uploader.queue.length===0"
                                class="btn btn-primary button-large-green generate-order-btn"
                                ng-click="!orderForm.$invalid && orderController.generateOrder()">
                            Generate Order From Inventory
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>