<div class="container"
     ng-controller="CreateManualOrderCtrl as orderController"
     cg-busy="{promise:orderController.waitOnPromise,message:orderController.message}">
    <!--<div class="row">
        <div class="col-sm-12 col-md-12">
            &lt;!&ndash; Select store header &ndash;&gt;
            <header class="header">
                <div class="row">
                    &lt;!&ndash; Back button given here &ndash;&gt;
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <div class="logo">{{::orderController.storeName}}
                            <div>
                                &lt;!&ndash; <back-button back="Back"></back-button> &ndash;&gt;
                                <a class="fa fa-home shopping-pal-home" ui-sref="store-landing"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <div class="log-in-text"><a ui-sref="logout" class="logout-text">LOGOUT</a></div>
                        <div class="btn-align">
                            <button type="submit" class="btn btn-primary button-large-green">Create Manual Order</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>-->
    <shoppin-pal-header store-name="{{::orderController.storeName}}"
                        button1-label="Create Manual Order"
                        button1-class="button-large-green">
    </shoppin-pal-header>
    <!-- Report Manager page content -->
    <div class="row main-container">
        <div class="order-container">
            <h2>New Stock Order</h2>
            <form name="orderForm"
                  class="form-horizontal"
                  ng-submit="orderController.generateOrder()">
                <div class="form-group">
                    <label for="orderName" class="control-label col-xs-3">Name / Reference</label>
                    <div class="col-xs-8">
                        <input id="orderName"
                               type="text" class="form-control"
                               ng-model="orderController.orderName"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectSupplier" class="control-label col-xs-3">Order From</label>
                    <div class="col-xs-8">
                        <select id="selectSupplier" name="selectSupplier"
                                class="form-control"
                                ng-model="orderController.selectedSupplier"
                                ng-options="supplier.name for supplier in orderController.suppliers"
                                required>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="selectStore" class="control-label col-xs-3">Deliver To</label>
                    <div class="col-xs-8">
                        <select id="selectStore" name="selectStore"
                                class="form-control"
                                ng-model="orderController.selectedStore"
                                ng-options="store.name for store in orderController.stores"
                                required>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectDate" class="control-label col-xs-3">Due At</label>
                    <div class="col-xs-8 calendar">
                        <input id="selectDate"
                               type="text" class="form-control" placeholder="Due At"
                               bs-datepicker data-date-format="dd/MM/yyyy"
                               ng-model="selectedDate">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="supplierInvoice" class="control-label col-xs-3">Supplier Invoice</label>
                    <div class="col-xs-8">
                        <input id="supplierInvoice" type="text" class="form-control" placeholder="Supplier Invoice">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fileImport" class="control-label col-xs-3">Import Order</label>
                    <div class="col-xs-8">
                        <!--<input id="fileImport" type="file" file-model="orderController.myFile" click="orderController.importOrder()"/>-->
                        <input id="fileImport" name="fileImport"
                               type='file' file-model='orderController.myFile'/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-align">
                        <button type='button'
                                class="btn btn-primary button-large-green"
                                ng-click="orderController.importOrder()"
                                ng-disabled="!orderController.myFile">
                            Import Order - To Fulfill
                        </button>
                        <button type='button'
                                class="btn btn-primary button-large-green"
                                ng-click="orderController.importOrder()"
                                ng-disabled="!orderController.myFile">
                            Import Order - To Receive
                        </button>
                        <!-- TODO: for someone in a manager role, file selector should be hidden and
                                  this should be the only button displayed-->
                        <button id="submit" type="submit"
                                class="btn btn-primary button-large-green"
                                ng-disabled="orderController.myFile || orderForm.$invalid">
                            Generate a New Order
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>