<!-- Select store header -->
<header class="header">
    <div class="row">
        <div class="col-md-5 col-sm-3 col-xs-12">
            <div class="logo">Glenstone</div>
        </div>
        <div class="col-md-7 col-sm-9 col-xs-12">
            <div class="log-in-text">You are logged in as a <span><a href="#">Store Manager/WH/SR</a>&nbsp;&nbsp; </span>|&nbsp;&nbsp;<a ui-sref="logout" class="logout-text">LOGOUT</a></div>
            <div class="btn-align">
                <button type="submit" class="btn btn-primary button-large-blue">CSC</button>
                <button type="submit" class="btn btn-primary button-large-green">FFCC</button>
            </div>
        </div>
        <!-- <div class="col-md-3 col-sm-3 col-xs-12 btn-align"><button type="submit" class="btn btn-primary login-btn">Logout</button></div> -->
    </div>
</header>