<div class="outer">
    <div class="middle">
        <div class="inner">
            <div class="text-center"><img src="images/logo.jpg" alt="Shopping Pal"></div>
            <div class="panel panel-default center">
                <div class="panel-body">
                    <div class="panel-heading text-center">
                        Sign In <div device-detector id="os-windows"></div>
                    </div>

                    <form role="form" dismiss-default="">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                      </span>

                                    <input id="userName" name="loginname" type="text" placeholder="Username" class="form-control"
                                           ng-blur="true" ng-model="userName"
                                           ui-keypress="{13:'keypressCallback($event)'}"
                                           ng-virtual-keyboard="{relative: false, vki_attached:true}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                      <span class="input-group-addon">
                                        <i class="fa fa-lock"></i>
                                      </span>
                                    <input id="pwd" name="password" type="password" placeholder="Password" class="form-control"
                                           ng-blur="true" ng-model="password"
                                           dismiss-keyboard
                                           ng-virtual-keyboard="{relative: false, vki_attached:true}">
                                </div>
                            </div>
                            <div class="text-center"><button class="btn btn-primary login-btn" ng-click="login()">Login</button></div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="text-center footer">Copyright © 2015 ShoppinPal</div>
        </div>
    </div>
</div>