<div class="outer">
    <div class="middle">
        <div class="inner">
            <div class="text-center"><img src="images/logo.jpg" alt="Shopping Pal"></div>
            <div class="panel panel-default center">
                <div class="panel-body">
                    <div class="panel-heading text-center">
                        Sign In
                    </div>
                    <form role="form" dismiss-default="" cg-busy="waitOnPromise">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    <input id="userName"
                                           name="loginname"
                                           type="email"
                                           placeholder="Username"
                                           class="form-control"
                                           ng-model="userName">
                                </div>
                                    <span class="error-message"
                                          ng-if="errors.username != ''">
                                        <span>{{errors.username}}</span>
                                    </span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    <input id="pwd"
                                           name="password"
                                           type="password"
                                           placeholder="Password"
                                           class="form-control"
                                           ng-model="password">
                                </div>
                                    <span class="error-message"
                                          ng-if="errors.pwd != ''">
                                        <span>{{errors.pwd}}</span>
                                    </span>
                            </div>
                            <div class="form-group">
                                  <span class="error-message"
                                        ng-if="errors.panel != ''">
                                     <span>{{errors.panel}}</span>
                                  </span>
                            </div>
                            <div class="text-center">
                                <button id="login"
                                        class="btn btn-primary login-btn"
                                        ng-click="login(userName,password)">
                                    Login
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="text-center footer">Copyright © 2015 ShoppinPal</div>
        </div>
    </div>
</div>
