<div ng-include=" 'views/header.html' "></div>
<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h3 class="h3-logo">Start by setting up your store!</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="getStarted" name="getStarted" class="btn custom-btn btn-sm dropdown-toggle"
                                ui-sref="onboarding.addStoreConfig">
                            Click to begin  <span class="right-caret"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
