  <div class="container" style="margin-top:40px">
    <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="select-store-header">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12"><img src="images/img_store_logo.jpg" alt="Shopping Pal"></div>
                  <div class="col-md-6 col-sm-6 col-xs-12"> <div class="log-in-text">You are logged in as a <span>Store Manager/WH/SR</span></div></div>
                  <div class="col-md-3 col-sm-3 col-xs-12 btn-align"><button type="submit" class="btn btn-primary login-btn">Logout</button></div>
              </div>
          </div>
          <div class="wrapper">
              <div class="row">
                <h1>Select Store</h1>
                <div class="store-container">
                  <div class="col-md-2 col-sm-2" ng-repeat="store in stores">

                        <div class="store-box" ng-click="onSelectStore()">
                          <span>{{store.storename}}</span>
                        </div>
                    
                      <div class="store-number"><a href="#">({{store.stock}})</a></div>
                  </div>     
                  <div class="clearfix"></div>
                  </div>
				  
              </div>
             
          </div>
      </div>
    </div>
  </div>
