<div ng-include=" 'views/header.html' "></div>
<div class="row">
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <br/>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Sign Up</h3>
            </div>
            <div class="panel-body">
                <!-- pass in the variable if our form is valid or invalid -->
                <form name="signupForm" role="form" ng-submit="signupForm.$valid && signupSubmit()" novalidate>
                    <div class="col-md-6">
                        <!-- FIRSTNAME -->
                        <div class="form-group required" ng-class="{ 'has-error' : (submitted && signupForm.firstname.$invalid) || signupForm.firstname.$invalid && !signupForm.firstname.$pristine}">
                            <label for="firstname">First Name</label>
                            <input type="text" name="firstname" class="form-control" id="firstname" ng-model="signup.firstname" placeholder="" required="">
                            <p name="signupFirstnameError" ng-show="(submitted && signupForm.firstname.$invalid) || signupForm.firstname.$invalid && !signupForm.firstname.$pristine" class="help-block">Firstname is required.</p>
                            <!--<p ng-show="signupForm.firstname.$error.required" class="help-block">Required</p>-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- LASTNAME -->
                        <div class="form-group required" ng-class="{ 'has-error' : (submitted && signupForm.lastname.$invalid) || signupForm.lastname.$invalid && !signupForm.lastname.$pristine}">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="lastname" class="form-control" id="lastname" ng-model="signup.lastname" placeholder="" required="">
                            <p name="signupLastnameError" ng-show="(submitted && signupForm.lastname.$invalid) || signupForm.lastname.$invalid && !signupForm.lastname.$pristine" class="help-block">Lastname is required.</p>
                            <!--<p ng-show="signupForm.lastname.$error.required" class="help-block">Required</p>-->
                        </div>
                    </div>
                    <!-- EMAIL -->
                    <div class="form-group required" ng-class="{ 'has-error' : (submitted && signupForm.email.$invalid) || signupForm.email.$invalid && !signupForm.email.$pristine}">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" ng-model="signup.username" placeholder="yourexample@example.com" required="">
                        <p name="signupEmailError" ng-show="(submitted && signupForm.email.$invalid) || signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block"> Please enter a valid email.</p>
                    </div>
                    <!-- PASSWORD -->
                    <div class="form-group required" ng-class="{ 'has-error' : (submitted && signupForm.password.$invalid) || signupForm.password.$invalid && !signupForm.password.$pristine}">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" ng-model="signup.password" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-validator"
                               placeholder="" required="" minlength = "8">
                        <p ng-show="(submitted && signupForm.password.$invalid) || signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">Password is required</p>
                        <p ng-show="signupForm.password.$error.minlength" class="help-block">Password should be atleast 8 characters long</p>
                    </div>
                    <!-- CONFIRM PASSWORD -->
                    <div class="form-group required" ng-class="{ 'has-error' : signupForm.confirmpassword.$error.validator}">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" name="confirmpassword" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-validator"
                               id="confirmpassword" ng-model="signup.confirmpassword" ui-validate=" '$value==signup.password' "
                               ui-validate-watch=" 'signup.password' " required=""  placeholder="">
                        <span name="confirmPasswordError" ng-show="signupForm.confirmpassword.$error.validator" class="help-block">Passwords do not match</span>
                    </div>

                    <button type="submit" class="btn custom-btn" ng-click="submitted=true">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
