<div class="container"
     cg-busy="waitOnPromise">
    <!--<div class="row">
        <div class="col-sm-12 col-md-12">
            &lt;!&ndash; Select store header &ndash;&gt;
            <header class="header">
                <div class="row">
                    &lt;!&ndash; Back button given here &ndash;&gt;
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <div class="logo">{{::storeName}}</div>
                        <div>
                            &lt;!&ndash; <back-button back="Back"></back-button> &ndash;&gt;
                            <a class="fa fa-home shopping-pal-home" ui-sref="store-landing"></a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <div class="note-sub-text pull-right"><a ui-sref="logout" class="logout-text">LOGOUT</a></div>
                        <div class="clearfix"></div>
                        <div class="btn-align">
                            <button type="submit" class="btn btn-primary button-large-blue"
                                    ng-click="toggleRowsDisplayed()">
                                Show {{displayPendingRows && 'Completed' || 'Pending'}}
                            </button>
                            <button type="submit" class="btn btn-primary button-large-green" ng-click="submitToWarehouse()">{{submitToWarehouseButton}}</button>
                        </div>
                    </div>
                </div>
                &lt;!&ndash; <div class="row">
                    <p class="note-text"><span><strong>Note:</strong></span> <span class="note-sub-text"> Swipe left to re-edit or tap 'Submit' to send to the Warehouse</span></p>
                </div> &ndash;&gt;
            </header>
        </div>
    </div>-->
    <shoppin-pal-header store-name="{{::storeName}}"
                        home-state="store-landing"
                        button1-label="Show {{displayPendingRows && 'Completed' || 'Pending'}}"
                        button1-class="button-large-blue"
                        button2-label="{{submitToWarehouseButton}}"
                        button2-class="button-large-green"
                        button2-disabled="!isShipmentFullyReceived"
                        on-button1-click="toggleRows()"
                        on-button2-click="submitToWarehouse()">
    </shoppin-pal-header>
    <!-- Store Manager page content -->
    <div class="row main-container">
        <div class="inner-container">
            <div class="report-manager-ipad-search">
                <h4 class="jumpto" ng-if="displayPendingRows">Jump to</h4>
                <ul ng-if="displayPendingRows"
                    class="store-auto-height">
                    <li ng-repeat="value in alphabets | unique:'value'">
                        <a href="" ng-click="gotoDepartment(value)">{{value}}</a>
                    </li>
                </ul>
            </div>
            <!--<div class="center-block" cg-busy="waitOnMarkCompletePromise">-->
            <div class="center-block">
                <div class="report-manager-ipad-scroll">
                    <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                        <thead>
                            <tr>
                                <th width="25%">SKU</th>
                                <th width="60%">Name</th>
                                <th width="5%">Quantity on Hand</th>
                                <th width="5%">Desired Stock Level</th>
                                <th width="5%">Ordered Quantity</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table" device-detector ng-class="{'ipad-table': device === 'ipad'}">
                            <tbody ng-repeat="storeReportRow in storesReport" class="animate-repeat">
                                <!--http://stackoverflow.com/questions/15412897/how-to-obtain-previous-item-in-ng-repeat-->
                                <tr ng-if="displayPendingRows && storeReportRow.type!==storesReport[$index - 1].type"
                                    class="inner-table-heading"
                                    id="jumpto{{storeReportRow.type}}">
                                    <td colspan="5"><span class="table-heading-font">{{::storeReportRow.type}}</span></td>
                                </tr>
                                <tr ng-class=" ($index+1)%2 == 0 ?'tr-even' : 'tr-odd'"
                                    ng-hide="$index==selectedRowIndex"
                                    ng-swipe-right="markRowAsCompleted($index, storeReportRow)"
                                    ng-swipe-left="editRow($index)">
                                    <td class="report-head1">{{::storeReportRow.sku}}</td>
                                    <td class="report-head2">{{::storeReportRow.name}}</td>
                                    <td class="report-head3">{{::storeReportRow.quantityOnHand}}</td>
                                    <td class="report-head4">{{storeReportRow.desiredStockLevel}}</td>
                                    <td class="report-head5">{{storeReportRow.orderQuantity}}</td>
                                </tr>
                                <tr ng-if="storeReportRow.comments[ReportModelStates.MANAGER_IN_PROCESS]"
                                    ng-hide="$index==selectedRowIndex">
                                    <td colspan="5">
                                        <span class="fa fa-comment comment-icon"></span>&nbsp;&nbsp;
                                        <strong>Comments:</strong><span class="comment-span"> {{storeReportRow.comments[ReportModelStates.MANAGER_IN_PROCESS]}}</span>
                                    </td>
                                </tr>
                                <!-- Edit store-report start -->
                                <!-- <tr ng-show="$index==selectedRowIndex" class="edit-row" ng-mouseleave="dismissEdit(storeReportRow)"> -->
                                <tr ng-if="$index==selectedRowIndex"
                                    ng-init="onEditInit(storeReportRow)"
                                    class="edit-row editable-panel animate-if">
                                    <td colspan="6" class="editable-panel">
                                        <div class="row editable-panel">
                                            <div class="col-sm-2 edit-column-heading-text editable-panel">{{storeReportRow.sku}}</div>
                                            <div class="col-sm-6 editable-panel">
                                                <div class="edit-second-column-heading-text editable-panel">{{storeReportRow.name}}</div>
                                            </div>
                                            <div class="col-sm-2 editable-panel">
                                                <div class="edit-last-column-heading-text editable-panel">{{storeReportRow.quantityOnHand}}</div>
                                            </div>
                                        </div>
                                        <div class="edit-window editable-panel">
                                            <div class="float-left column-text margin-right editable-panel">Desired
                                                <br/> Stock Level:</div>
                                            <div class="float-left margin-right-50px editable-panel">
                                                <input type="text" class="form-control input-small editable-panel" ng-model="storeReportRow.desiredStockLevel">
                                            </div>
                                            <div class="float-left column-text margin-right editable-panel">Order
                                                <br/> Qty:</div>
                                            <div class="float-left margin-right-10px margin-top editable-panel">
                                                <span class="fa fa-minus-circle fa-lg edit-icon editable-panel" ng-click="decreaseQty(storeReportRow)"></span>
                                            </div>
                                            <div class="float-left margin-right-10px editable-panel">
                                                <input type="text" class="form-control input-small editable-panel" ng-model="storeReportRow.orderQuantity">
                                            </div>
                                            <div class="float-left margin-right margin-top editable-panel">
                                                <span class="fa fa-plus-circle fa-lg edit-icon editable-panel" ng-click="increaseQty(storeReportRow)"></span>
                                            </div>
                                            <div class="clearfix editable-panel"></div>
                                        </div>
                                        <div class="row editable-panel">
                                            <input device-detector ng-if='device !== "ipad"'
                                                   type="text"
                                                   class="form-control comment-input editable-panel"
                                                   placeholder="-- Add your Comments --"
                                                   ng-model="storeReportRow.comments[ReportModelStates.MANAGER_IN_PROCESS]">
                                            <input device-detector ng-if='device === "ipad"'
                                                   type="text"
                                                   class="form-control comment-input editable-panel"
                                                   placeholder="-- Add your Comments --"
                                                   ng-model="storeReportRow.comments[ReportModelStates.MANAGER_IN_PROCESS]"
                                                   ng-readonly="true"
                                                   ng-virtual-keyboard="{relative: true, vki_attached:true}">
                                        </div>
                                    </td>
                                </tr>
                                <!-- Edit store-report end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
