<div class="container">
    <!--<div class="row">
        <div class="col-sm-12 col-md-12">
            &lt;!&ndash; Select store header &ndash;&gt;
            <header class="header">
                <div class="row">
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <div class="logo">{{::storeName}}</div>
                    </div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <div class="note-sub-text pull-right"><a ui-sref="logout" class="logout-text">LOGOUT</a></div>
                        <div class="clearfix"></div>
                        <div class="btn-align">
                            <button type="submit" class="btn btn-primary button-large-green" ng-click="createManualOrder()">Create manual order</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>-->
    <shoppin-pal-header is-home-page="true" store-name="{{::storeName}}"
                        button1-label="Create manual order"
                        button1-class="button-large-green"
                        on-button1-click="createManualOrder()">
    </shoppin-pal-header>
    <!-- warehouse landing status button start -->
    <div class="row main-container">
        <div class="row row-centered">
            <button class="status-btn-fullfil" ng-click="newOrders()">New Orders</button>
            <button class="status-btn-inprocess" ng-click="inProcessOrder()">In process</button>
            <button class="status-btn-receive" ng-click="recievedOrder()">Receive</button>
        </div>
    </div>
    <!-- warehouse landing status button end -->
    <!-- Store Manager page content -->
    <div class="row main-container">
        <div class="inner-container">
            <div class="report-manager-ipad-search">
                <h4 class="jumpto">Jump To<br>Supplier</h4>
                <ul class="store-auto-height">
                    <li ng-repeat="store in reportLists | orderBy:'supplier.name' | unique:'supplier.name'">
                        <a href="" ng-click="gotoDepartment(store.supplier.name)">{{store.supplier.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="store-content">
                <div class="report-manager-ipad-scroll">
                    <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                        <thead>
                            <tr>
                                <th width="5%">order id</th>
                                <th width="10%">order Name</th>
                                <th width="10%">status</th>
                                <th width="5%">total items</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                            <tbody ng-repeat="storeReport in reportLists| orderBy:'supplier.name'| groupBy: 'supplier.name'">
                                <tr ng-if="storeReport.group_by_CHANGED"
                                    id="jumpto{{storeReport.supplier.name}}"
                                    class="inner-table-heading">
                                    <td colspan="5"><span class="table-heading-font">{{storeReport.supplier.name}}</span></td>
                                </tr>
                                <tr ng-if="$index!==selectedRowIndex"
                                    ui-sref="store-report-manager({reportId:storeReport.id})"
                                    ng-swipe-left="editOrder($index)"
                                    ng-class=" ($index+1)%2 == 0 ? 'tr-even' : 'tr-odd'">
                                    <td width="5%">{{storeReport.id}}</td>
                                    <td width="10%">{{storeReport.name || "&lt;swipe right-to-left and rename this auto-generated report&gt;"}}</td>
                                    <td width="10%">
                                        <div class="status-td">
                                            <span ng-class="{
                                'status-square-complete': storeReport.state == 'complete',
                                'status-square-inprocess': storeReport.state == 'empty' || 'manager',
                                'status-square-fulfilled': storeReport.state == 'pending'}">
                                            </span>
                                            <div ng-if="storeReport.state === 'empty'">{{storeReport.workerStatus}}</div>
                                            <div ng-if="storeReport.state !== 'empty'">{{storeReport.state}}</div>
                                        </div>
                                    </td>
                                    <td width="5%">{{storeReport.totalRows}}</td>
                                </tr>
                                <!-- Edit store-report start -->
                                <tr ng-if="$index==selectedRowIndex"
                                    ng-mouseleave="dismissEdit(storeReport)"
                                    class="edit-row">
                                    <td colspan="6">
                                        <div class="col-sm-2">{{storeReport.id}}</div>
                                        <div class="col-sm-3">
                                            <input type="text"
                                                   class="form-control store-landing-outlet-input"
                                                   ng-model="storeReport.name">
                                        </div>
                                    </td>
                                </tr>
                                <!-- Edit store-report end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
