<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <div ng-include=" 'views/header-alt.html' "></div>

            <!-- Report Manager page content -->
            <div class="main-container">
                <div class="text-center">
                    <button ng-click="generateOrder()" class="btn btn-primary button-large-blue">Generate Order</button>
                </div>
                <div class="intro-container">
                    <div class="col-md-6 col-sm-6">
                        <div class="intro-content">
                            <div class="intro-column-heading">New Orders</div>
                            <ul class="list-group" ng-repeat="report in reportList">
                            <!--<ul class="list-group" ng-repeat="report in reportList track by report.id">-->
                            <!--<ul class="list-group" ng-repeat="report in reportList | filter: {state:'manager'} track by report.id">-->
                                <li class="list-group-item" ui-sref="store-report-manager({reportId:report.id})">
                                    <span class="badge"></span> {{report.id}} - {{report.outlet.name}} - {{report.created | date:'medium'}}
                                    <!-- TODO: don't show a drilldown icon (">") if states is "empty", use a disabled look? -->
                                    <!-- TODO: show a drilldown icon (">") if states is set to "manager" -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="intro-content">
                            <div class="intro-column-heading">Order In Process</div>
                            <ul ng-repeat="report in mockReportList">
                                <li ui-sref="store-report-manager({})">{{report}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
