<div class="container"
     cg-busy="waitOnPromise">
    {{storeName}}
    <shoppin-pal-header home-state="warehouse-landing"
                        store-name="{{storeName}}"
                        button2-label="{{submit}}"
                        button2-class="button-large-green"
                        on-button2-click="submitToReceiver()"
                        button1-label="Show {{displayBoxedContents && 'Remaining Items' || 'Boxed Contents'}}"
                        button1-class="button-large-blue"
                        button1-disabled="!selectedBox"
                        on-button1-click="toggleActiveBoxContents()">
    </shoppin-pal-header>
    <!--button1-disabled="!allProcessed"-->
        <!-- Report Manager page content -->
        <div class="row main-container">
            <div class="inner-container">
                <div class="report-manager-ipad-search">
                    <ul>
                        <li>Jump
                            <br>To</li>
                        <li ng-repeat="value in alphabets | unique:'value'">
                            <a href="" ng-click="goToDepartment(value)">{{value}}</a>
                        </li>
                    </ul>
                </div>
                <div class="center-block" id="printSlip">
                    <div class="warehouse-report-ipad-scroll"
                         ng-class="{'ipad-table': device === 'ipad'}">
                        <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                            <thead>
                                <tr>
                                    <th width="20%">SKU</th>
                                    <th width="70%">Name</th>
                                    <th width="5%">Ordered Quantity</th>
                                    <th width="5%">Fulfilled Quantity</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="scrollable-table">
                            <table cellspacing="0" cellpadding="0" width="100%"
                                   class="table table-responsive store-landing-right-table">
                                <!--ng-if="!item.boxNumber"-->
                                <tbody ng-repeat="item in itemsBeingViewed"
                                    class="animate-repeat animate-if">
                                    <tr class="inner-table-heading" id="jumpTo{{item.type}}"
                                        ng-if="item.type !== itemsBeingViewed[$index - 1].type">
                                        <!--ng-if="item.group_by_CHANGED">-->
                                        <td colspan="4"><span class="table-heading-font">{{item.type}}</span></td>
                                    </tr>
                                    <tr ng-class=" ($index+1)%2 == 0 ?'tr-even' : 'tr-odd'"
                                        ng-hide="$index==selectedRowIndex"
                                        ng-swipe-left="editRow($index)"
                                        ng-swipe-right="moveToBox(item, $index)">
                                        <td class="report-head1">{{item.sku}}</td>
                                        <td class="report-head2">{{item.name}}</td>
                                        <td class="report-head3">{{item.orderQuantity}}</td>
                                        <td class="report-head4">{{item.fulfilledQuantity}}</td>
                                    </tr>
                                    <tr ng-if="item.comments[ReportModelStates.MANAGER_IN_PROCESS]"
                                        ng-hide="$index==selectedRowIndex">
                                        <td colspan="5">
                                            <span class="fa fa-comment comment-icon"></span>&nbsp;&nbsp;
                                            <strong>Manager Comments:</strong><span class="comment-span"> {{item.comments[ReportModelStates.MANAGER_IN_PROCESS]}}</span>
                                        </td>
                                    </tr>
                                    <tr ng-if="item.comments[ReportModelStates.WAREHOUSE_FULFILL]"
                                        ng-hide="$index==selectedRowIndex">
                                        <td colspan="5">
                                            <span class="fa fa-comment comment-icon"></span>&nbsp;&nbsp;
                                            <strong>Warehouse Comments:</strong><span class="comment-span"> {{item.comments[ReportModelStates.WAREHOUSE_FULFILL]}}</span>
                                        </td>
                                    </tr>
                                    <!-- Edit store-report start -->
                                    <!--<tr ng-show="$index==selectedRowIndex" class="edit-row" ng-mouseleave="dismissEdit()">-->
                                    <tr ng-if="$index==selectedRowIndex"
                                        ng-init="onEditInit(item)"
                                        class="edit-row editable-panel animate-if">
                                        <td colspan="6" class="editable-panel">
                                            <div class="row editable-panel">
                                                <div class="col-sm-2 edit-column-heading-text editable-panel">
                                                    {{item.sku}}
                                                </div>
                                                <div class="col-sm-6 edit-second-column-heading-text-warehouse editable-panel">
                                                    {{item.name}}
                                                </div>
                                                <div class="col-sm-3 edit-last-column-heading-text-warehouse editable-panel">
                                                    {{item.orderQuantity}}
                                                </div>
                                            </div>
                                            <div class="edit-window editable-panel">
                                                <div class="float-left column-text margin-right margin-top editable-panel">Fulfilled Qty:</div>
                                                <div class="float-left margin-right-10px margin-top editable-panel">
                                                    <span class="fa fa-minus-circle fa-lg edit-icon editable-panel"
                                                          ng-click="decreaseQty(item)"></span>
                                                </div>
                                                <div class="float-left margin-right-10px editable-panel">
                                                    <input type="number" pattern="[0-9]*"
                                                           class="form-control input-small editable-panel"
                                                           ng-model="item.fulfilledQuantity">
                                                </div>
                                                <div class="float-left margin-right margin-top editable-panel">
                                                    <span class="fa fa-plus-circle fa-lg edit-icon editable-panel"
                                                          ng-click="increaseQty(item)"></span>
                                                </div>
                                                <div ng-if="item.state!==ROW_STATE_COMPLETE"
                                                     class="pull-right column-text margin-right editable-panel">
                                                    <button class="btn button-large-green editable-panel"
                                                            ng-click="hideRow($index, item)">
                                                        Delete
                                                    </button>
                                                </div>
                                                <div class="clearfix editable-panel"></div>
                                            </div>
                                            <div ng-if="item.comments[ReportModelStates.MANAGER_IN_PROCESS]">
                                                <span class="fa fa-comment comment-icon"></span>&nbsp;&nbsp;<strong>Manager Comments:</strong>
                                                <span class="comment-span">
                                                    {{item.comments[ReportModelStates.MANAGER_IN_PROCESS]}}
                                                </span>
                                            </div>
                                            <!--/div-->
                                        </td>
                                    </tr>
                                    <!-- Edit store-report end -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="ipad-right-column warehouse-report-ipad-right-column">
                    <table class="table table-responsive right-table">
                        <thead>
                            <tr style="font-size: 14px;">
                                <th>Box
                                    <br>Items</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-responsive right-table">
                        <tbody>
                            <tr>
                                <td valign="middle" class="v-align-middle">
                                    <div>
                                        <!--<div ng-show="openBox" class="main-box" data-placement="left" data-template="views/popup/box.html" bs-popover>
                                            <span class="dropbox-qty">{{boxItems}}</span>
                                            <div><img src="images/img_open_folder.png"></div>
                                            <span class="dropbox-name">Box</span>
                                        </div>
                                        <div class="main-box">
                                            <button class="btn btn-primary add-btn" ng-click="addNewBox()">Add Box
                                            </button>
                                        </div>
                                        <div class="main-box" ng-repeat="item in closedboxes">
                                            <div class="dropbox-qty">{{item.value}}</div>
                                            <div><img src="images/img_closed_folder.png"></div>
                                            <div class="dropbox-name">{{item.key}}</div>
                                        </div>-->
                                        <div class="selected-box">
                                            <div class="main-box" ng-if="selectedBox">
                                                <div class="dropbox-qty">{{selectedBox.totalItems}}</div>
                                                <div ng-if="!selectedBox.isOpen">
                                                    <img src="images/img_closed_folder.png"
                                                         ng-disabled="!selectedBox.isOpen"
                                                         class="box-closed"
                                                         ng-class="{'box-disabled' : !selectedBox.isOpen}">
                                                </div>
                                                <div ng-if="selectedBox.isOpen && selectedBox.totalItems > 0"
                                                     data-placement="left"
                                                     data-template="views/popup/box.html" data-trigger="click" bs-popover>
                                                    <img src="images/img_open_folder.png">
                                                </div>
                                                <div ng-if="selectedBox.isOpen && selectedBox.totalItems === 0"
                                                     class="box-disabled">
                                                    <img src="images/img_open_folder.png">
                                                </div>
                                                <div class="dropbox-name">{{selectedBox.boxName}}</div>
                                            </div>
                                        </div>
                                        <div class="add-box">
                                            <button class="btn btn-primary add-btn"
                                                    ng-click="addNewBox()" ng-disabled="selectedBox || allProcessed">
                                                Add Box
                                            </button>
                                        </div>
                                        <div class="main-box" ng-repeat="box in boxes" ng-if="box !== selectedBox">
                                            <div class="dropbox-qty">{{box.totalItems}}</div>
                                            <div ng-if="!box.isOpen">
                                                <img src="images/img_closed_folder.png"
                                                     ng-disabled="!box.isOpen"
                                                     class="box-closed"
                                                     ng-class="{'box-disabled' : !box.isOpen}">
                                            </div>
                                            <div ng-if="box.isOpen && box.totalItems > 0" data-placement="left"
                                                 data-template="views/popup/box.html" data-trigger="click" bs-popover>
                                                <img src="images/img_open_folder.png">
                                            </div>
                                            <div ng-if="box.isOpen && box.totalItems === 0"
                                                 class="box-disabled">
                                                <img src="images/img_open_folder.png">
                                            </div>
                                            <div class="dropbox-name">{{box.boxName}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
