<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <!-- Select store header -->
            <header class="header">
                <div class="row">
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <div class="logo">Glenstone</div>
                    </div>
                    <div class="col-md-7 col-sm-9 col-xs-12">
                        <div class="note-sub-text pull-right">You are logged in as a <span><a href="#">Store Manager/WH/SR</a>&nbsp;&nbsp; </span>|&nbsp;&nbsp;<a href="#" class="logout-text">LOGOUT</a></div>
                        <div class="btn-align">
                            <button type="submit" class="btn btn-primary button-large-green" ng-click="createManualOrder()">Create manual order</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    <!-- Store Manager page content -->
    <div class="row main-container">
        <div class="inner-container">
            <div class="report-manager-ipad-search">
                <h4>JumpTo<br>Supplier</h4>
                <ul class="store-auto-height">
                    <li ng-repeat="store in storesReport | unique:'type' | orderBy: 'type'">
                        <a href="" ng-click="gotoDepartment(store.type)">{{store.type}}</a>
                    </li>
                </ul>
            </div>
            <div class="center-block">
                <div class="report-manager-ipad-scroll">
                    <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                        <thead>
                            <tr>
                                <th width="15%">order id</th>
                                <th width="15%">order Name</th>
                                <th width="15%">status</th>
                                <th width="15%">total items</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                            <tbody ng-repeat="storereport in storesReport| orderBy:'type'| groupBy: 'type'">
                                <tr class="inner-table-heading" id="jumpto{{storereport.type}}" ng-if="storereport.group_by_CHANGED">
                                    <td>
                                        <span class="table-heading-font">{{storereport.type}}</span>
                                    </td>
                                    <td colspan="5" ng-if="$index == 0">
                                        <button class="inprocess-btn" ng-click="inProcessOrder()">In Process</button>
                                        <button class="fulfilled-btn" ng-click="fulfilledOrder()">Fulfillment</button>
                                        <button class="complete-btn" ng-click="recievedOrder()">To Receive</button>
                                    </td>
                                </tr>
                                <tr ng-class=" ($index+1)%2 == 0 ?'tr-even' : 'tr-odd'" ng-hide="$index==selectedStore" ng-swipe-left="importExport($index)">
                                    <td width="15%">{{storereport.sku}}</td>
                                    <td width="15%">{{storereport.name}}</td>
                                    <td width="15%">
                                        <div class="status-td status-margin-right">
                                             <span ng-class="{
                                'status-square-complete': storereport.status == 'complete',
                                'status-square-inprocess': storereport.status == 'inProgress',
                                'status-square-fulfilled': storereport.status == 'pending'}">
                                    </span> {{storereport.status}}
                                        </div>
                                    </td>
                                    <td width="15%">{{storereport.desiredStockLevel}}</td>
                                </tr>
                                <tr ng-if="comments" ng-hide="$index==selectedStore">
                                    <td colspan="5">
                                        <span class="fa fa-comment comment-icon"></span>&nbsp;&nbsp;
                                        <strong>Comments:</strong><span class="comment-span"> {{comments}}</span>
                                    </td>
                                </tr>
                                 <!-- Edit store-report start -->
                               <tr ng-show="$index==selectedStore" class="edit-row">
                                    <td colspan="6">
                                    <div class="col-sm-2">{{storereport.sku}}</div>
                                    <div class="col-sm-2"><div class="store-landing-second-col-text">{{storereport.name}}</div></div>
                                    <div class="col-sm-5 store-landing-edit-button-row">
                                        <button class="import-btn">Import</button>
                                        <button class="export-btn">Export</button>
                                        <button class="fulfilled-btn">Fulfilled</button>
                                    </div>
                                  </td>  
                                </tr>
                                <!-- Edit store-report end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
