<div class="container"
     cg-busy="{promise:waitOnPromise,message:message}">
    <shoppin-pal-header is-home-page="true"
                        button1-label="Create manual order"
                        button1-class="button-large-green"
                        on-button1-click="createManualOrder()">
    </shoppin-pal-header>
    <!-- warehouse landing status button start -->
    <div class="row main-container">
      <div class="row row-centered">
          <button class="status-btn-inprocess"
                  ng-click="legends.inProcess = !legends.inProcess; filterOrders();"
                  ng-class="{'new-orders-unselected' : !legends.inProcess}">
              <!-- TODO: @ayush: for this button's ng-class ... instead of new-orders-unselected it should be in-process-unselected -->
              In Process
          </button>
          <button class="status-btn-fullfil"
                  ng-click="legends.fulfill = !legends.fulfill; filterOrders();"
                  ng-class="{'warehouse-orders-unselected' : !legends.fulfill}">
              Fulfill
          </button>
          <button class="status-btn-receive"
                  ng-click="legends.receive = !legends.receive; filterOrders();"
                  ng-class="{'receive-orders-unselected' : !legends.receive}">
              Receive
          </button>
        <!--<button class="status-btn-inprocess" ng-click="inProcessOrder()">In Process</button>
        <button class="status-btn-fullfil" ng-click="fulfilledOrder()">Fullfil</button>
        <button class="status-btn-receive" ng-click="recievedOrder()">Receive</button>-->
      </div>  
    </div>
    <!-- warehouse landing status button end -->
    <!-- Store Manager page content -->
    <div class="row main-container">
        <div class="inner-container">
            <div class="report-manager-ipad-search">
                <h4 class="jumpto">Jump To<br>Supplier</h4>
                <ul class="store-auto-height">
                    <li ng-repeat="store in filteredLists | orderBy:'supplier.name' | unique:'supplier.name'">
                        <a href="" ng-click="gotoDepartment(store.supplier.name)">{{store.supplier.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="store-content">
                <div class="report-manager-ipad-scroll">
                    <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                        <thead>
                            <tr>
                                <th width="10%">order id</th>
                                <th width="15%">order Name</th>
                                <th width="15%">status</th>
                                <th width="10%">total items</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="scrollable-table">
                        <table cellspacing="0" cellpadding="0" width="100%" class="table table-responsive store-landing-right-table">
                            <tbody ng-repeat="storeReport in filteredLists | orderBy:['supplier.name', '-created', '-state', 'name'] | groupBy: 'supplier.name'">
                                <tr class="inner-table-heading"
                                    id="jumpto{{storeReport.supplier.name}}"
                                    ng-if="storeReport.group_by_CHANGED">
                                    <td colspan="3"><span class="table-heading-font">{{storeReport.supplier.name}}</span></td>
                                    <td colspan="1">
                                        <div class="show-more-container">
                                            <a class="show-more-link"
                                               ng-click="showMore(storeReport.supplier.name)"
                                               ng-class="{'disabled': !supplierWiseListSize[storeReport.supplier.name].enabled}">
                                                Show More...
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-if="$index!==selectedRowIndex"
                                    ng-click="drilldownToReport($index, storeReport)"
                                    ng-swipe-left="importExport($index)"
                                    ng-class=" ($index+1)%2 == 0 ?'tr-even' : 'tr-odd'">
                                    <td width="10%">
                                        {{::storeReport.created | date:'yyyy-MM-dd @ h:mma'}}
                                        <!--{{::storeReport.id}}-->
                                    </td>
                                    <td width="15%">{{::storeReport.outlet.name}} - {{::storeReport.name}}</td>
                                    <td width="15%">
                                        <div class="status-td">
                                            <span ng-if="storeReport.state != ReportModelStates.REPORT_COMPLETE"
                                                  ng-class="{'status-square-manager-inProcess-warehouseLanding': storeReport.state == ReportModelStates.MANAGER_IN_PROCESS,
                                                             'status-square-fulfilled': storeReport.state == ReportModelStates.WAREHOUSE_FULFILL,
                                                             'status-square-complete': storeReport.state == ReportModelStates.MANAGER_RECEIVE}">
                                            </span>
                                            <span ng-if="storeReport.state == ReportModelStates.REPORT_COMPLETE">Completed</span>
                                            <!--<div ng-if="storeReport.state !== 'empty'">{{storeReport.state}}</div>-->
                                        </div>
                                    </td>
                                    <td width="10%">{{storeReport.desiredStockLevel}}</td>
                                </tr>
                                <tr ng-if="comments" ng-hide="$index==selectedRowIndex">
                                    <td colspan="5">
                                        <span class="fa fa-comment comment-icon"></span>&nbsp;&nbsp;
                                        <strong>Comments:</strong><span class="comment-span"> {{comments}}</span>
                                    </td>
                                </tr>
                                <!-- Edit store-report start -->
                                <tr ng-show="$index==selectedRowIndex"
                                    class="edit-row"
                                    ng-mouseleave="dismissEdit()">
                                    <td colspan="6">
                                        <div class="col-sm-2">{{storeReport.id}}</div>
                                        <div class="col-sm-2">
                                            <div class="store-landing-second-col-text">{{::storeReport.outlet.name}} - {{::storeReport.name}}</div>
                                        </div>
                                        <div class="col-sm-5 store-landing-edit-button-row">
                                            <button class="import-btn">Import</button>
                                            <button class="export-btn">Export</button>
                                            <button class="fulfilled-btn">Fulfilled</button>
                                        </div>
                                    </td>
                                </tr>
                                <!-- Edit store-report end -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
