<app-aside [fixed]="true" [display]="false" class="aside-menu bin-locations-filters-aside-menu">
  <div class="callout m-0 py-2 text-muted text-center bg-light text-uppercase">
    <small><b>Filters</b></small>
  </div>
  <hr class="transparent mx-3 my-0">
  <div class="card">
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">

        <div class="form-group row">
          <label class="col-md-12 col-form-label" for="filter-suppliers">Filter by: <strong>Suppliers</strong></label>
          <div class="col-md-12">
            <select id="filter-suppliers" name="suppliers" class="form-control">
              <option value="0">Please select</option>
              <option value="1">Option #1</option>
              <option value="2">Option #2</option>
              <option value="3">Option #3</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</app-aside>
