<bin-locations-filters></bin-locations-filters>
<ngx-loading [show]="loading"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Search products</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" id="searchSKU" placeholder="Scan SKU barcode here or enter text" autoFocus="searchSKUFocused">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-search"></i> Search
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div><!--/.row-->
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-cubes"></i> Products
          <button type="button" class="btn btn-link float-right" appAsideMenuToggler>
            <i class="fa fa-filter fa-2x"></i>
          </button>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>SKU</th>
              <th>Bin Location</th>
              <th>Name</th>
              <th>Supplier</th>
              <th>Save</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr class="table-success">-->
            <!--<td>GA0876</td>-->
            <!--<td><input type="text" class="form-control-sm" placeholder="Scan bin location"></td>-->
            <!--<td>INMAN CuffBracelet INMAN CuffBracelet INMAN CuffBracelet</td>-->
            <!--<td>JT Inman</td>-->
            <!--</tr>-->
            <tr *ngFor="let product of products">
              <td>{{product.sku}}</td>
              <td><input type="text" class="form-control-sm" placeholder="Scan bin location"></td>
              <td>{{product.name}}</td>
              <td>{{(product.supplier && product.supplier.name) || 'No Supplier'}}</td>
              <td>
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-save"></i> Save
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item" *ngFor="let page of products | paginate: {itemsPerPage: 10,
                                                                 currentPage: currentPage,
                                                                 totalItems: totalProducts}">
            </li>
          </ul>
          <pagination-controls (pageChange)="fetchProducts(null, currentPage); currentPage=$event"></pagination-controls>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>


