<div class="card">
  <h4 class="card-header">Payment type</h4>
  <div class="card-body">
    <form>
      <p>Choose a default payment type for creating sales:</p>
      <div class="form-row">
        <div class="form-group col-md-6">
          <select class="form-control">
            <option>Payment options</option>
            <option>Payment options</option>
            <option>Payment options</option>
            <option>Payment options</option>
            <option>Payment options</option>
            <option>Payment options</option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

