<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 align="center">StockUp</h1>
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <ngx-loading [show]="loading"></ngx-loading>
              <h1>Forgot Password</h1>
              <div *ngIf="!emailSent">
                <p class="text-muted">We will send you an email with password reset instructions. </p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="email" [(ngModel)]="email" class="form-control" placeholder="Enter email address">
                </div>
                <div class="row mb-4 text-center">
                  <div class="col-sm-6">
                    <button type="button" (click)="requestPasswordReset()"
                            class="btn btn-primary px-4">Send Email Instructions
                    </button>
                  </div>
                </div>
              </div>
              <div *ngIf="emailSent">
                <p>We have sent an email to your inbox with password reset instructions.</p>
              </div>
              <div class="row text-center">
                <div class="col-12">
                  <a routerLink="/login" routerLinkActive="active" (click)="loading=true">Already have an account?
                    Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
