<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 align="center">StockUp</h1>
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <ngx-loading [show]="loading"></ngx-loading>
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" #username class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" #password class="form-control" placeholder="Password">
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <button type="button" (click)="fetchInput(username.value, password.value)"
                          class="btn btn-primary px-4">Login
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="text-left col-sm-6">
                  <a routerLink="/signup" routerLinkActive="active" (click)="loading=true">
                    New user? Create Account
                  </a>
                </div>
                <div class="text-right col-sm-6">
                  <a routerLink="/forgot-password" routerLinkActive="active" (click)="loading=true">
                    Forgot Password
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
