.logo-avatar {
    width: 40px;
    height: 39px;
    opacity: 1;
    border-radius: 5px;
}

.logo-image {
    width: 40px;
    height: 39px;
    border-radius: 3px;

}

.header-text {
    width: 133px;
    height: 35px;
    color: #FFFFFF;
    opacity: 1;
    font: W4 32px/54px Hiragino Maru Gothic ProN;
    letter-spacing: 0;
    text-align: center;
}

.header-space-div {
  width: 5px;
}

.header-card-space-div {
  height: 20px;
}

.new-account {
  font-size: 10px;
}

.login-page {
  padding: 0;
  margin: 0;
}

.image-header {
  // text-align: center;
  // vertical-align: middle;
  position: relative;
  display: table; 

  // position: relative;

  // transform: translate(-50%, -50%);

}

.image-header p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: Bold 36px/44px Helvetica Neue;
  letter-spacing: 0;
  text-align: center; 
  vertical-align: middle;
}

.image-header {
  margin: 0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  font: Bold 36px/44px Helvetica Neue;
  letter-spacing: 0;
  text-align: center; 
  vertical-align: middle;
  font-stretch: expanded;
  margin-top: 45px;
}

.avatar-brandon {
  width: 61px;
  height: 60px;
}

.feedback-person-name {
  margin: 0;
  padding: 0;
  font: Regular 16px/18px Helvetica Neue;
  letter-spacing: 0;
  color: #333333;
}

.feedback-person-designation {
  margin: 0;
  padding: 0;
  font: Regular 12px/18px Helvetica Neue;
  letter-spacing: 0;
  color: #707070;
}

.name-designation {
  margin-top: -20px;
}

.feedback-comment {
  font: Regular 18px/25px Source Sans Pro;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.row-two {
  background: #3B3B3B 0% 0% no-repeat padding-box;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.login-banner {
  // width: 720px;
  // height: 340px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // object-fit: cover;
  text-align: center;
  height:100%;
  width:95%;
}

.image-space-div {
  height: 20px;
}