<div class="app flex-row">
  <!-- <div class="container" style="margin: 0;padding: 0;width:100%;height: 100%;"> -->
    <!-- <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 align="center">StockUp</h1>
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <ngx-loading [show]="loading"></ngx-loading>
              <h1>Login</h1>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" #username class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" #password class="form-control" placeholder="Password" (keyup)="onKey($event,username.value, password.value)">
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <button type="button" (click)="fetchInput(username.value, password.value)"
                          class="btn btn-primary px-4">Login
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="text-left col-sm-6">
                  <a routerLink="/signup" routerLinkActive="active" (click)="loading=true">
                    New user? Create Account
                  </a>
                </div>
                <div class="text-right col-sm-6">
                  <a routerLink="/forgot-password" routerLinkActive="active" (click)="loading=true">
                    Forgot Password
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row"> -->
      <div class="row col-md-8 w-100" style="background-color:white">
        <div class="container h-100 w-100">
            <div class="row-3 h-25 w-100 image-header">
              <p class="w-100">{{headerParaData}}</p>
            </div>
            <div class="row-6 h-50 w-100 justify-content-center align-items-center">
              <img class="login-banner justify-content-center align-items-center" src="assets/img/img_login_banner.png" alt="">
            </div>
            <div class="row-3 h-25 w-100 row">
              <div class="col-3 row justify-content-center align-items-center">
                <div>
                    <img class="avatar-brandon" [src]="avatarBrandon" alt="">
                </div>
                <div class="row name-designation justify-content-center align-items-center">
                  <div class="row feedback-person-name">
                    {{brandonName}}
                  </div>
                  <div class="row feedback-person-designation">
                    {{brandonDesignation}}
                  </div>
                </div>
              </div>
              <div class="col-9 feedback-comment">{{brandonFeedback}}</div>
            </div>
        </div>
      </div>
      <div class="row w-100 col-md-4 justify-content-center align-items-center row-two">
      <div class="justify-content-center w-100">
      <!-- <div class="col-md-6"> -->
        <!-- <div class="w-100"> -->
        <div class="d-flex justify-content-center">
          <div class="logo-avatar">
              <img class="logo-image" src="assets/img/favicon.png" alt="">
          </div>
          <!-- <div class="header-text justify-content-center"> -->
            <div class="header-space-div"></div>
            <div>
              <h1 align="center" style="color: #FFFFFF;">
                StockUp
              </h1>
          </div>
        </div>
        <div class="header-card-space-div">

        </div>
        <div class="card-group">
          <div class="card mb-2">
            <div class="card-body">
              <ngx-loading [show]="loading"></ngx-loading>
              <h2>Login</h2>
              <p class="text-muted">Sign In to your account</p>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" #username class="form-control" placeholder="Username" required>
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" #password class="form-control" placeholder="Password" (keyup)="onKey($event,username.value, password.value)" required>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <button type="button" (click)="fetchInput(username.value, password.value)"
                          class="btn btn-primary px-4">Login
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="text-left col-sm-6">
                  <a class="new-account" routerLink="/signup" routerLinkActive="active" (click)="loading=true">
                    New user? Create Account
                  </a>
                </div>
                <div class="text-right col-sm-6">
                  <a class="new-account" routerLink="/forgot-password" routerLinkActive="active" (click)="loading=true">
                    Forgot Password
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div> 
      </div>
    <!-- </div> -->
  <!-- </div> -->
</div>
