<ngx-loading [show]="loading"></ngx-loading>
<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="card text-center">
      <div class="card-header">
        <h4>Import order workers</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5 text-left">
            <h5>Workers v1</h5>
            <ul class="small">
              <li>Implemented using old code</li>
              <li>Slow, but reliable</li>
            </ul>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <div class="input-group">
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox"
                         (ngModelChange)="toggleWorker('importOrders')"
                         [(ngModel)]="usesWorkerV2.importOrders"
                         class="switch-input">
                  <span class="switch-slider"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-5 text-left">
            <h5>Workers v2</h5>
            <ul class="small">
              <li>Implemented using new code</li>
              <li>Fast, but not yet stable (in beta mode)</li>
              <li>Shows bin locations in orders</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card text-center">
      <div class="card-header">
        <h4>Create order workers</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5 text-left">
            <h5>Workers v1</h5>
            <ul class="small">
              <li>Implemented using old code</li>
              <li>Slow, but reliable</li>
            </ul>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <div class="input-group">
                <label class="switch switch-3d switch-primary">
                  <input type="checkbox"
                         (ngModelChange)="toggleWorker('generateOrders')"
                         [(ngModel)]="usesWorkerV2.generateOrders"
                         class="switch-input">
                  <span class="switch-slider"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-5 text-left">
            <h5>Workers v2</h5>
            <ul class="small">
              <li>Implemented using new code</li>
              <li>Fast, but not yet stable (in beta mode)</li>
              <li>Shows bin locations in orders</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

