<ngx-loading [show]="loading"></ngx-loading>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Stock order details</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-sm-6">
              <p>Name: <strong>{{order.name}}</strong></p>
              <p>Total Items: <strong>{{totalFulfilledLineItems+totalNotFulfilledLineItems}}</strong></p>
              <p>Created At: <strong>{{order.created | date: 'y-MM-dd HH:mm'}}</strong></p>
              <p>Status: <strong>{{order.state}}</strong>
                <!--<span *ngIf="order.state === reportStates.PUSHING_TO_MSD">({{order.percentagePushedToMSD || 0 | number : '1.2-2'}})%</span></strong>-->
                <button type="button" class="btn btn-link" (click)="getOrderDetails()">
                  <i class="fa fa-refresh"></i>
                </button>
              </p>
              <p *ngIf="order.transferOrderNumber">Transfer Order Number: <strong>{{order.transferOrderNumber}}</strong>
              </p>
            </div>
            <div class="form-group col-sm-6">
              <p>Deliver To: <strong>{{order.storeModel?.name}}</strong></p>
              <p>Deliver From: <strong>{{order.deliverFromStoreModel?.name}}</strong></p>
              <p>Created By: <strong>{{order.userModel?.name}}</strong></p>
              <p>Approved By: <strong>{{order.approvedByUserModel?.name}}</strong></p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-4">
              <span class="input-group-btn" *ngIf="editable">
                <button class="btn btn-success btn-block" type="button" (click)="sendDelivery()">
                  <i class="fa fa-truck"></i>
                  Send consignment to {{order.storeModel.name}}
                </button>
              </span>
            </div>
            <div class="col-sm-3">
              <span class="input-group-btn">
                <button class="btn btn-primary btn-block" type="button" (click)="downloadOrderCSV()">
                  <i class="fa fa-cloud-download"></i>
                  Download CSV
                </button>
              </span>
            </div>
            <div class="col-sm-3">
              <span class="input-group-btn">
                <button class="btn btn-danger btn-block" type="button" (click)="openDeleteModal()">
                  <i class="fa fa-trash"></i>
                  Delete Order
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Search products</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         id="searchSKU"
                         #searchInput
                         [(ngModel)]="searchSKUText"
                         [appAutoFocus]="searchSKUFocused"
                         [selectText]="enableBarcode"
                         (appDebounceKeyUp)="barcodeSearchSKU($event)"
                         (keyup)="keyUpEvent($event, searchSKUText)"
                         placeholder="Scan SKU barcode here or enter text">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button"
                            (click)="searchProductBySku(searchSKUText)">
                      <i class="fa fa-search"></i> Search
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div><!--/.row-->
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <span>Manual Entry &nbsp;&nbsp; </span>
                  <label class="switch switch-3d switch-primary">
                    <input type="checkbox"
                           [(ngModel)]="enableBarcode"
                           (ngModelChange)="changeScanMode()"
                           class="switch-input">
                    <span class="switch-slider"></span>
                  </label>
                  <span> &nbsp;&nbsp; Barcode Scanning</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <button type="button"
                      *ngIf="editable"
                      class="btn btn-link"
                      (click)="showAddProductModal = true">
                <i class="fa fa-plus-circle"></i>
                Add Products Manually
              </button>
            </div>
            <div class="col-sm-3">
              <button type="button" class="btn btn-link float-right"
                      (click)="searchSKUText='';getFulfilledStockOrderLineItems();getNotFulfilledStockOrderLineItems()">
                Clear All Searches
              </button>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-cubes"></i> Stock order items
          <button type="button" class="btn btn-link float-right">
            <i class="fa fa-filter fa-2x"></i>
          </button>
        </div>
        <div class="card-body card-flex">
          <div class="row">
            <div class="col-sm-12">
              <tabset>
                <tab heading="Not Fulfilled ({{totalNotFulfilledLineItems}})">

                  <table class="table table-responsive-md table-hover">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="pointer"
                          (click)="sortColumn = 'productModelName';sortAscending = !sortAscending; getNotFulfilledStockOrderLineItems()">
                        Name
                        <i
                          [ngClass]="{'cui-sort-ascending': sortAscending === true && sortColumn === 'productModelName', 'cui-sort-descending': sortAscending === false && sortColumn === 'productModelName'}">
                        </i></th>
                      <th class="pointer"
                          (click)="sortColumn = 'productModelSku';sortAscending = !sortAscending; getNotFulfilledStockOrderLineItems()">
                        SKU
                        <i
                          [ngClass]="{'cui-sort-ascending': sortAscending===true && sortColumn === 'productModelSku', 'cui-sort-descending': sortAscending===false && sortColumn === 'productModelSku'}">
                        </i></th>
                      <th>Order Quantity</th>
                      <th>Fulfilled Quantity</th>
                      <th *ngIf="editable">Fulfill</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let lineItem of notFulfilledLineItems; let i = index">
                      <tr class="bg-light text-primary"
                          *ngIf="lineItem.binLocation !== notFulfilledLineItems[i-1]?.binLocation || i==0">
                        <td colspan="7"><strong>{{lineItem.binLocation || 'No Bin Location'}}</strong></td>
                      </tr>
                      <tr>
                        <ng-container *ngIf="lineItem.productModel">
                          <td class="text-center" (click)="lineItem.isCollapsed = !lineItem.isCollapsed">
                            <button class="btn btn-light">
                              <i class="fa fa-angle-double-down"></i>
                              <span *ngIf="lineItem.commentModels?.length" class="badge badge-pill badge-success">{{lineItem.commentModels?.length}}</span>
                            </button>
                          </td>
                          <td>
                            {{lineItem.productModel.name}}
                            <br/>
                            <small *ngIf="userProfile.integrationType === 'msdynamics'  ">
                              ({{lineItem.productModel.sizeId}}
                              : {{lineItem.productModel.colorId}} :
                              {{lineItem.productModel.styleId}} : {{lineItem.productModel.configurationId}})
                            </small>
                          </td>
                          <td *ngIf="userProfile.integrationType==='msdynamics'">{{lineItem.productModel.api_id}}</td>
                          <td *ngIf="userProfile.integrationType==='vend'">{{lineItem.productModel.sku}}</td>
                          <td>{{lineItem.orderQuantity}}</td>
                          <td *ngIf="editable">
                            <div class="form-group">
                              <div class="input-group quantity-input">
                                <div *ngIf="!enableBarcode" class="input-group-prepend pointer"
                                     (click)="lineItem.fulfilledQuantity = lineItem.fulfilledQuantity - 1">
                                <span class="input-group-text">
                                  <i class="fa fa-minus-circle quantity-icon text-danger"></i>
                                </span>
                                </div>
                                <input [disabled]="enableBarcode" type="number"
                                       class="input-order-quantity form-control-sm form-control text-center"
                                       [(ngModel)]="lineItem.fulfilledQuantity"/>
                                <div *ngIf="!enableBarcode" class="input-group-append pointer"
                                     (click)="lineItem.fulfilledQuantity = lineItem.fulfilledQuantity + 1">
                                <span class="input-group-text">
                                  <i class="fa fa-plus-circle quantity-icon text-success"></i>
                                </span>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="!editable">
                            0
                          </td>
                          <td>
                            <button *ngIf="editable && !enableBarcode" class="btn btn-danger" type="submit"
                                    (click)="fulfillItem(lineItem, selectedBox)">
                              <i class="fa fa-check"></i> Fulfill
                            </button>
                          </td>
                        </ng-container>
                      </tr>
                      <tr class="no-border">
                        <td colspan="5" class="no-padding no-border-top">
                          <div class="padding-15"
                               (collapsed)="collapsed($event)"
                               (expanded)="expanded($event)"
                               [collapse]="lineItem.isCollapsed">
                            <app-comments
                              [comments]="lineItem.commentModels"
                              [stockOrderLineitemModelId]="lineItem.id"
                              [canAddComment]="editable"
                              (onCommentAdded)="lineItem.commentModels.push($event)"
                            ></app-comments>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>

                  <pagination [totalItems]="totalNotFulfilledLineItems"
                              [(ngModel)]="currentPageNotFulfilled"
                              [maxSize]="maxPageDisplay"
                              [rotate]="false"
                              [boundaryLinks]="true"
                              (pageChanged)="getNotFulfilledStockOrderLineItems(lineItemsLimitPerPage, ($event.page - 1) *
                  lineItemsLimitPerPage)"
                              [itemsPerPage]="lineItemsLimitPerPage"></pagination>

                </tab>

                <tab heading="Fulfilled ({{totalFulfilledLineItems}})">
                  <table class="table table-responsive-md table-hover">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="pointer"
                          (click)="sortColumn = 'productModelName';sortAscending = !sortAscending; getFulfilledStockOrderLineItems()">
                        Name
                        <i
                          [ngClass]="{'cui-sort-ascending': sortAscending === true && sortColumn === 'productModelName', 'cui-sort-descending': sortAscending === false && sortColumn === 'productModelName'}">
                        </i></th>
                      <th class="pointer"
                          (click)="sortColumn = 'productModelSku';sortAscending = !sortAscending; getFulfilledStockOrderLineItems()">
                        SKU
                        <i
                          [ngClass]="{'cui-sort-ascending': sortAscending===true && sortColumn === 'productModelSku', 'cui-sort-descending': sortAscending===false && sortColumn === 'productModelSku'}">
                        </i></th>
                      <th>Order Quantity</th>
                      <th>Fulfilled Quantity</th>
                      <th *ngIf="editable">Remove</th>

                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let lineItem of fulfilledLineItems; let i = index">
                      <tr class="bg-light text-primary"
                          *ngIf="lineItem.binLocation !== fulfilledLineItems[i-1]?.binLocation || i==0">
                        <td colspan="7"><strong>{{lineItem.binLocation || 'No Bin Location'}}</strong></td>
                      </tr>
                      <tr>
                        <ng-container *ngIf="lineItem.productModel">
                          <td class="text-center" (click)="lineItem.isCollapsed = !lineItem.isCollapsed">
                            <button class="btn btn-light">
                              <i class="fa fa-angle-double-down"></i>
                              <span *ngIf="lineItem.commentModels?.length" class="badge badge-pill badge-success">{{lineItem.commentModels?.length}}</span>
                            </button>
                          </td>
                          <td>
                            {{lineItem.productModel.name}}
                            <app-comments></app-comments>
                            <br/>
                            <small *ngIf="userProfile.integrationType === 'msdynamics'">
                              ({{lineItem.productModel.sizeId}} : {{lineItem.productModel.colorId}} :
                              {{lineItem.productModel.styleId}} : {{lineItem.productModel.configurationId}})
                            </small>
                          </td>
                          <td *ngIf="userProfile.integrationType==='msdynamics'">{{lineItem.productModel.api_id}}</td>
                          <td *ngIf="userProfile.integrationType==='vend'">{{lineItem.productModel.sku}}</td>
                          <td>
                            {{lineItem.orderQuantity}}
                          </td>
                          <td>{{lineItem.fulfilledQuantity}}</td>
                          <td>
                            <button *ngIf="editable && !enableBarcode" class="btn btn-danger" type="submit"
                                    (click)="removeItem(lineItem)">
                              <i class="fa fa-remove"></i> Remove
                            </button>
                          </td>
                        </ng-container>
                      </tr>
                      <tr class="no-border">
                        <td colspan="5" class="no-padding no-border-top">
                          <div class="padding-15"
                               (collapsed)="collapsed($event)"
                               (expanded)="expanded($event)"
                               [collapse]="lineItem.isCollapsed">
                            <app-comments
                              [comments]="lineItem.commentModels"
                              [stockOrderLineitemModelId]="lineItem.id"
                              [canAddComment]="false"
                              (onCommentAdded)="lineItem.commentModels.push($event)"
                            ></app-comments>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>

                  <pagination [totalItems]="totalFulfilledLineItems"
                              [(ngModel)]="currentPageFulfilled"
                              [maxSize]="maxPageDisplay"
                              [rotate]="false"
                              [boundaryLinks]="true"
                              (pageChanged)="getFulfilledStockOrderLineItems(lineItemsLimitPerPage, ($event.page - 1) * lineItemsLimitPerPage)"
                              [itemsPerPage]="lineItemsLimitPerPage">
                  </pagination>

                </tab>
              </tabset>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>


<div bsModal #discrepancyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Discrepancy Detected</h4>
        <button type="button" class="close" (click)="discrepancyModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Product Name: {{discrepancyOrderItem?.productModel.name}}</p>
        <p>Order Quantity: {{discrepancyOrderItem?.orderQuantity}}</p>
        <p>Fulfilled Quantity: {{discrepancyOrderItem?.fulfilledQuantity}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="discrepancyModal.hide()">Cancel</button>
        <button type="button" class="btn btn-warning" (click)="searchAndIncrementProduct(searchSKUText, true)">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<app-add-product-modal [order]="order" *ngIf="showAddProductModal" (modalClosed)="showAddProductModal = false;getNotFulfilledStockOrderLineItems();getFulfilledStockOrderLineItems();"></app-add-product-modal>
