.pointer {
  cursor: pointer;
}

input[disabled] {
  background: white;
}

.no-padding {
  padding: 0 !important;
}

.no-border-top {
  border-top: 0;
}

.padding-15 {
  padding: 15px;
}

.quantity-input {
  width: 150px;
}

.card-flex {
  padding-left: 0;
  padding-right: 0;
}

.btn-gap {
  margin: 5px;
}

