<div class="row">
  <div class="col-sm-12 col-md-12">
    <!-- Select store header -->
    <header class="header">
      <div class="row">
        <!-- Back button given here -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="logo">{{::storeName}}
            <div ng-show="!isHomePage">
              <a class="fa fa-home shoppin-pal-home" ui-sref="store-landing"></a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="log-in-text"><a ui-sref="logout" class="logout-text">LOGOUT</a></div>
          <div class="btn-align">
            <button type="submit" class="btn btn-primary {{::button1Class}}" ng-click="onButton1Click()">{{button1Label}}</button>
            <button ng-if="button2Label" type="submit" class="btn btn-primary {{::button2Class}}" ng-click="onButton2Click()">{{button2Label}}</button>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>